<div class="nav-wrapper" >
    <div class="logCon">
        <img src="../../../assets/sheets/letrasCem.webp" alt="" class="letrasCem">
    </div>
    <nav id="menu">
          <a href="/home" class="hover-this"><span>Inicio </span></a>
          <a href="#nosotros" class="hover-this"><span>Nosotros</span></a>
          <a href="#" class="hover-this"><span>Ubicacion</span></a>
          <a href="/login" class="hover-this"><span>Iniciar Sesion</span></a>
          <div class="cursor"></div>
    </nav>
    <div class="cubeB" data-type="blue"></div>
    <div class="cubeM" data-type="orange"></div>
    <div class="cubeS" data-type="cian"></div>
    
    <div class="cubeB" data-type="fix"> <a href="#menu"><img src="../../../assets/sheets/icons/arrow.svg" alt="" class="arrow"></a></div>
    <div class="cubeB" data-type="orange"></div>
    <div class="cubeM" data-type="cian"></div>
    <div class="cubeS" data-type="blue"></div>
</div>
