<div class="nav-wrapper">
    <div class="logCon">
        <img src="../../../assets/sheets/letrasCem.webp" alt="" class="letrasCem">
    </div>
    <nav>
          <a href="/home" class="hover-this"><span>Inicio </span></a>
          <a href="#nosotros" class="hover-this"><span>Nosotros</span></a>
          <a href="#" class="hover-this"><span>Ubicacion</span></a>
          <a href="/login" class="hover-this"><span>Iniciar Sesion</span></a>
          <div class="cursor"></div>
    </nav>
    <div class="goto"></div>
    <div class="to"></div>
</div>
